@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  @apply duration-200;
}

.engtle {
  /* font-size: 100px; */
  font-family: 'Inter', sans-serif;
}

.script {
  font-family: 'Roboto Mono', monospace;
}

.hello {
  @apply flex text-4xl sm:text-8xl text-white engtle;
}

.card {
  @apply border-2 border-slate-600 m-2 sm:m-4 rounded-md flex items-center justify-center
  hover:bg-slate-700;
}

.card h1 {
  @apply text-center text-xl sm:text-3xl text-slate-500;
  font-family: 'Roboto Mono', monospace;
}

.fullflex {
  @apply flex flex-col w-full h-screen items-center justify-center bg-slate-800;
}
